.markdown-body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    font: 300 14px "Reem Kufi Ink", sans-serif;
    line-height: normal;
    text-align: center;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.5);
    background: HSLA(266, 37%, 47%, 1);
}
