@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Reem+Kufi+Ink&display=swap');
@import "_reset";
@import "_markdown";

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  font: 300 14px "Reem Kufi Ink", sans-serif;
  text-align: center;
  line-height: 1.2;
  color: rgba(0,0,0,.5);
  background: HSLA(266,37%,47%,1);
}

#wrapper {
    min-height: 100%;
    min-width: 100%;

    #content {
        width: 80%;
        border-radius: 5px;
        background: hsla(280,100%,93%,0.5);
        position: relative;
        margin: 45px auto;
        padding: 20px;
    }

    &.render {
        &:before {
            opacity: 1;
        }

        #highlight {
            img {
                top: 0;
            }
        }
    }

    &:before {
        content: "";
        position: fixed;
        inset: 0px;
        background-color:hsla(286,100%,50%,0.79);
        background-image:
        radial-gradient(at 40% 20%, hsla(313,100%,74%,1) 0px, transparent 50%),
        radial-gradient(at 83% 6%, hsla(141,71%,62%,1) 0px, transparent 50%),
        radial-gradient(at 16% 68%, hsla(280,100%,93%,1) 0px, transparent 50%),
        radial-gradient(at 82% 7%, hsla(24,100%,76%,1) 0px, transparent 50%),
        radial-gradient(at 19% 67%, hsla(307,100%,77%,1) 0px, transparent 50%),
        radial-gradient(at 73% 77%, hsla(231,100%,70%,1) 0px, transparent 50%),
        radial-gradient(at 12% 30%, hsla(268,100%,76%,1) 0px, transparent 50%);
        transition: opacity 2s ease-in-out;
        opacity: 0;
    }

    #highlight {
        position: absolute;
        left: 0;
        right: 0;
        top: 150px;
        margin: auto;
        width: 400px;
        transition: opacity 1.5s ease-in-out;
        opacity: 0;

        &.render {
            opacity: 1;
        }

        &.inner {
            position: inherit;
            width: auto;
        }
    
        img {
            margin: 0 auto -10px;
            position: relative;
            transition: all 1.5s ease-out;
            top: -25px;
        }
    
        h2 {
            color: #f8f9fa;
            font: 400 24px "Cairo Play", sans-serif;
            margin-bottom: 5px;
            filter: drop-shadow(2px 1px 2px #000);
        }
    }
    
    p {
        &#established {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
        }
    }
}
