@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Reem+Kufi+Ink&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.markdown-body {
  font: 300 14px "Reem Kufi Ink", sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.markdown-body strong {
  color: hsl(231, 19%, 20%);
  font-weight: 700;
}
.markdown-body pre {
  overflow: auto;
  line-height: 1.45;
  font-size: 85%;
  word-wrap: normal;
  padding: 2px;
}
.markdown-body pre code {
  border-radius: 6px;
}
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5 {
  margin: 15px 0;
}
.markdown-body h1 {
  font-size: 42px;
}
.markdown-body h2 {
  font-size: 36px;
}
.markdown-body h3 {
  font-size: 30px;
}
.markdown-body h4 {
  font-size: 24px;
}
.markdown-body h5 {
  font-size: 18px;
}
.markdown-body h6 {
  font-size: 12px;
}
.markdown-body p {
  margin: 10px 0;
}
.markdown-body a {
  color: hsl(220, 91%, 54%);
  text-decoration: none;
}
.markdown-body a:visited {
  color: hsl(231, 97%, 72%);
}
.markdown-body ol, .markdown-body ul, .markdown-body li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
.markdown-body ol p, .markdown-body ul p, .markdown-body li p {
  display: inline-block;
}
.markdown-body hr {
  border: 0;
  border-top: 1px solid hsl(230, 12%, 49%);
  margin: 20px 0;
}
.markdown-body blockquote {
  padding: 0 10px;
  color: hsl(230, 12%, 49%);
  border-left: 3px solid hsl(228, 15%, 57%);
}
.markdown-body table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-body table tr {
  border-top: 1px solid hsl(230, 12%, 49%);
}
.markdown-body table tr:nth-child(2n) {
  background-color: hsla(267, 84%, 81%, 0.2);
}
.markdown-body table td, .markdown-body table th {
  padding: 6px 13px;
  border: 1px solid hsl(230, 13%, 55%);
}
.markdown-body .katex {
  font-size: 18px;
  color: hsl(231, 19%, 20%);
}

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  font: 300 14px "Reem Kufi Ink", sans-serif;
  text-align: center;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
  background: HSLA(266, 37%, 47%, 1);
}

#wrapper {
  min-height: 100%;
  min-width: 100%;
}
#wrapper #content {
  width: 80%;
  border-radius: 5px;
  background: hsla(280, 100%, 93%, 0.5);
  position: relative;
  margin: 45px auto;
  padding: 20px;
}
#wrapper.render:before {
  opacity: 1;
}
#wrapper.render #highlight img {
  top: 0;
}
#wrapper:before {
  content: "";
  position: fixed;
  inset: 0px;
  background-color: hsla(286, 100%, 50%, 0.79);
  background-image: radial-gradient(at 40% 20%, hsl(313, 100%, 74%) 0px, transparent 50%), radial-gradient(at 83% 6%, hsl(141, 71%, 62%) 0px, transparent 50%), radial-gradient(at 16% 68%, hsl(280, 100%, 93%) 0px, transparent 50%), radial-gradient(at 82% 7%, hsl(24, 100%, 76%) 0px, transparent 50%), radial-gradient(at 19% 67%, hsl(307, 100%, 77%) 0px, transparent 50%), radial-gradient(at 73% 77%, hsl(231, 100%, 70%) 0px, transparent 50%), radial-gradient(at 12% 30%, hsl(268, 100%, 76%) 0px, transparent 50%);
  transition: opacity 2s ease-in-out;
  opacity: 0;
}
#wrapper #highlight {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;
  width: 400px;
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}
#wrapper #highlight.render {
  opacity: 1;
}
#wrapper #highlight.inner {
  position: inherit;
  width: auto;
}
#wrapper #highlight img {
  margin: 0 auto -10px;
  position: relative;
  transition: all 1.5s ease-out;
  top: -25px;
}
#wrapper #highlight h2 {
  color: #f8f9fa;
  font: 400 24px "Cairo Play", sans-serif;
  margin-bottom: 5px;
  filter: drop-shadow(2px 1px 2px #000);
}
#wrapper p#established {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=main.css.map */
